.logo {
  margin-right: 93px;
  color: $title-color;
  font-family: $logo-font;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo span {
  color: $accent-color;
}
.page-header .logo {
  padding: 24px 0;
}
