.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list .item {
  flex-grow: 1;
  transition: box-shadow 250ms $timing-function;
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: $projects-card-shadow;
}
.projects-list .info {
  padding: 20px 24px;
  @include border($portfolio-item-border-color);
  border-top: none;
}
.projects-list h2 {
  margin-bottom: 4px;
  color: $title-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list p {
  color: $text-color;
  font-size: 16px;
  line-height: 2;
}
.projects-thumb {
  position: relative;
  overflow: hidden;
}
.projects-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: $overlay-color;
  transform: translateY(100%);
  transition: transform 250ms $timing-function;
}
.projects-thumb .text {
  color: $white-text;
  font-size: 18px;
  line-height: 1.55;
}
.projects-item:hover .projects-overlay {
  transform: translateY(0);
}
